<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="person">
      <i class="icon ion-image profile-picture"></i>
      <p class="name">name</p>
    </div>
      <img class="icon ion-image picture" ng-src="{{picture}}" style="max-width: 100%">
    <button id="like" class="button button-light  icon ion-ios-heart-outline"></button>
    <button id="comment" class="button button-light  icon ion-ios-chatbubble-outline"></button>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p class="desription">
        picture description <div class="tag">#tag</div>
      </p>
    </div>
  </ion-content>
</ion-view>
